.catalog {
  background-color: #f5f5f5;
  margin: 50px 40px 72px;
}

.catalog__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, $card-width);
}

@media (max-width: 487px){
  .catalog__list {
    grid-template-columns: 1fr;
  }
  .card {
    margin-right: 0;
  }
}

@media (min-width: 488px) and (max-width: 767px) {
  .catalog__list {
    grid-template-columns: repeat(2, 200px);
  }
  .card {
    margin-right: 48px;
  }
  .card:nth-child(2n) {
    margin-right: 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .catalog__list {
    grid-template-columns: repeat(3, 200px);
  }
  .card {
    margin-right: 48px;
  }
  .card:nth-child(3n) {
    margin-right: 0;
  }
}

@media (min-width: 1024px) {
  .catalog__list {
    grid-template-columns: repeat(4, 200px);
  }
  .card {
    margin-right: 48px;
  }
  .card:nth-child(4n) {
    margin-right: 0;
  }
}
